/* CSS Reset */
html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: top; }
body { line-height: 1; color: black; background: white; }
table {	border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
ol, ul { list-style: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
:focus { outline: 0; }

/* Actual CSS */
body { font-family: Arial, Helvetica, sans-serif; color: #404040; font-size: 12px; background: #EEEEEE url(../image/interface/fade.gif) repeat-x top center; }

strong { font-weight: bold; }
b { font-weight: bold; }
i { font-style: italic; }
p { font-family: Times; font-size: 14px; line-height: 17px; margin-top: 6px; margin-bottom: 6px; }
.footnote { font-size: 12px; }

hr { border: none; border-top: 1px solid #afafaf; padding: 0; margin-top: 5px; margin-bottom: 5px; }
.hr { border-top: 1px solid #bfbfbf; padding: 0; margin-top: 5px; margin-bottom: 5px; }

a { color: #0078C2; }
a:visited { color: #004488; }
a:hover { color: #D91312; }

//a[href^="mailto:"] { display:inline-block; padding-left:20px; line-height:15px; background:transparent url(../image/icon/MailTo.gif) center left no-repeat; }
a[href$='.pdf'] { display:inline-block; padding-left:20px; line-height:15px; background:transparent url(../image/icon/PDFIcon.gif) center left no-repeat; }
a[href$='.swf'], a[href$='.fla'], a[href$='.swd'] { display:inline-block; padding-left:20px; line-height:15px; background:transparent url(../image/icon/FlashIcon.gif) center left no-repeat; }
a[href$='.xls'], a[href$='.csv'], a[href$='.xlt'], a[href$='.xlw'] { display:inline-block; padding-left:20px; line-height:15px; background:transparent url(../image/icon/ExcelIcon.gif) center left no-repeat; }
a[href$='.ppt'], a[href$='.pps'] { display:inline-block; padding-left:20px; line-height:15px; background:transparent url(../image/icon/PowerPointIcon.gif) center left no-repeat; }
a[href$='.doc'], a[href$='.rtf'], a[href$='.txt'], a[href$='.wps'] { display:inline-block; padding-left:20px; line-height:15px; background:transparent url(../image/icon/WordDocIcon.gif) center left no-repeat; }
a[href$='.zip'], a[href$='.gzip'], a[href$='.rar'] { display:inline-block; padding-left:20px; line-height:15px; background:transparent url(../image/icon/ZIPIcon.gif) center left no-repeat; }

h1 { font-family: Times; font-size: 24px; font-weight: normal; color: #404040; text-transform: uppercase; letter-spacing: 3px; border-bottom: 1px solid #afafaf; margin-top: 10px; margin-bottom: 6px; }
h2 { font-family: Times; font-size: 20px; font-weight: normal; color: #505050; text-transform: uppercase; letter-spacing: 2px; border-bottom: 1px solid #cfcfcf; margin-top: 10px; margin-bottom: 5px; }
h3 { font-family: Times; font-size: 16px; font-weight: normal; color: #505050; text-transform: uppercase; letter-spacing: 2px; border-bottom: 1px solid #dfdfdf; margin-top: 10px; margin-bottom: 4px; }
h4 { font-family: Times; font-size: 16px; font-weight: normal; color: #707070; text-transform: uppercase; letter-spacing: 2px; margin-top: 10px; margin-bottom: 3px; }

form { display: inline; }
input { margin: 3px; padding: 2px; font-size: 12px; border: 1px solid #a0a0a0; background-color: #f0f0f0; }
select { margin: 3px; padding: 2px; font-size: 12px; border: 1px solid #a0a0a0; background-color: #e0e0e0; }
button { margin-left: 2px; }
textarea { display: block; margin: 3px; padding: 2px; font-size: 12px; border: 1px solid #a0a0a0; background-color: #f0f0f0; font-family: Arial; }
.checkbox, .radio { border: 0px; background: transparent; margin-top: 1px; }
.required { color: #e00000; }

ol { list-style-type: lower-roman; font-family: Times; font-size: 14px; }
ul { list-style-type: circle; font-family: Times; font-size: 14px; margin-left: 30px; margin-top: 5px; margin-bottom: 10px; }
li { padding-bottom: 4px;}

code { border: 1px dotted #999999; background-color: #eeeeee; font-family: Times; font-size: 11px; display: block; }

.quote { padding: 3px; margin: 10px; font-size: 12px; border: 1px solid #e0e0e0; background-color: #f0f0f0; }
.code { padding: 3px; margin: 10px; font-family: serif; font-size: 12px; border: 1px dashed #b0b0b0; background-color: #f0f0f0; }
.smallscript { font-size: 9px; margin-left: 8px; }
.subtext { font-size: 10px; margin-top: 2px; }

.playbutton {  display: block; width: 91px; height: 20px; text-decoration: none; background: url("../image/interface/PlayButton.gif") no-repeat 0 0; }
.playbutton:hover { background-position: 0 -20px; }
.playbutton span { text-transform: uppercase; font-weight: bold; padding-left: 5px; color: #606060; line-height: 19px; }

.alert { background: #fff6bf url(../image/interface/message-alert.png) center no-repeat; background-position: 15px 50%; text-align: left; padding: 5px 20px 5px 45px; border: 2px solid #ffd324; }
.error { background: #F6CBCA url(../image/interface/message-error.png) center no-repeat; background-position: 15px 50%; text-align: left; padding: 5px 20px 5px 45px; border: 2px solid #CB2026; }
.success { background: #BFE5FF url(../image/interface/message-success.png) center no-repeat; background-position: 15px 50%; text-align: left; padding: 5px 20px 5px 45px; border: 2px solid #24B2FF; }

.navigation { padding-top: 2px; padding-bottom: 2px; }

.content { background-color: #ffffff; }

.menubutton { display:block; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; margin-top: 1px; padding-left: 8px; padding-right: 8px; padding-top:8px; padding-bottom:9px; color: #9A9A9A; font-family: Arial; font-weight: bold; letter-spacing: 1px; font-size: 16px; text-decoration: none; border-left: 1px solid #DCDCDC; border-right: 1px solid #BABABA; }
.menubutton:hover { color: #ffffff; background: #CBDCEF; }
.menubutton:visited { color: #9A9A9A; }

.thumbnail { width:120px; height:100px; position:relative; margin-top: 2px; margin-right: 3px; }
.thumbnail .main { position:absolute; width:120px; height:100px; z-index:0; }
.thumbnail .frame { position:absolute; width:120px; height:100px; z-index:1; }

.contenttitle a { text-decoration: none; color: #0000b0; }
.contenttitle a:hover { text-decoration: underline; }

.contentmenu { margin:1px; padding-left: 2px; padding-right: 3px; padding-top: 4px; }
.contentmenutitle { font-family: Arial; font-size: 16px; font-weight: bold; letter-spacing: 1px; color: #808080; padding-left: 18px; padding-top: 2px; margin-left: 1px; margin-bottom: 3px; background: #eeeeee url(../image/interface/roundbox.gif) top left no-repeat; height: 25px;}
.contentfull { background: #ffffff url(../image/interface/shade.jpg) repeat-x top left; }
.contentmain { width: 825px; margin-left: 4px; margin-top: 2px; padding: 0px; background: #FFFFFF; }
.contentplayer { width: 825px; margin-left: 0px; margin-top: 0px; padding: 0px; background: #FFFFFF; }
.contentside { width: 160px; margin-left: 4px; margin-top: 4px; margin-right: 4px; margin-bottom: 4px; padding: 0; border: 1px solid #bbbbbb; }

.titlebar { background: url(../image/interface/h2lightblue-left.gif) no-repeat top left; padding-left: 2px; margin-top: 4px; margin-bottom: 6px; }
.titlebar div { background: url(../image/interface/h2lightblue-right.gif) no-repeat top right; padding-right: 52px; }
.titlebar div div { background: url(../image/interface/h2lightblue-center.gif) repeat-x top center; padding-top: 2px; padding-bottom: 2px; }
.titlebar div div h2 { color: #404040; display: inline; font-family: Times; font-weight: normal; text-transform: uppercase; }

.banner { margin-top: 0px; margin-bottom: 0px; font-size: 12px;}
.banner a { text-decoration: none; color: #404040; }
.banner a:hover { text-decoration: underline; }

.spotlight a { display:block; font-style: none; letter-spacing: 3px; text-decoration: none; font-family: Times; font-size: 20px; color: #ff0000; }
.spotlight a:hover { text-decoration: underline; }

.footer { margin-top: 2px; text-align: left; margin-left: 224px; }
.footermenu { padding-bottom: 3px; padding-top: 2px; font-size: 11px; letter-spacing: 3px; }
.copyright { margin-top: 0px; margin-bottom: 0px; font-size: 10px;}
.copyright a { text-decoration: none; color: #404040; }
.copyright a:hover { text-decoration: underline; }

.aboutus a { color: #333333; }
.aboutus a:hover { color: #333333; }
.aboutus a:visited { color: #333333; }

.arrowlistmenu ul { list-style-type: none; font-family: Arial; list-style-position: outside; margin: 0; padding: 0; margin-bottom: 8px; }
.arrowlistmenu ul li { padding-bottom: 2px; font-size: 14px; font-weight: bold; }
.arrowlistmenu ul li a { color: #2E88EB; background: url(../image/icon/HollowIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.arrowlistmenusearch { background: url(../image/interface/search.gif) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.arrowlistmenurss { background: url(../image/icon/RSS.gif) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.home { background: url(../image/icon/RoundIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.target { background: url(../image/icon/TargetIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.s { background: url(../image/icon/SIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.play { background: url(../image/icon/PlayIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.download { background: url(../image/icon/DownloadIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.support { background: url(../image/icon/ExclamationIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.screenshot { background: url(../image/icon/ScreenshotIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.video { background: url(../image/icon/VideoIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.help { background: url(../image/icon/HelpIcon.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.Windows { background: url(../image/OS/WINDOWS-ICON.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.Macintosh { background: url(../image/OS/MACINTOSH-ICON.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.Linux { background: url(../image/OS/LINUX-ICON.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a.UNIX { background: url(../image/OS/UNIX-ICON.png) no-repeat center left; display: block; padding: 2px; padding-left: 20px; text-decoration: none; border-bottom: 1px solid #dadada; }
.arrowlistmenu ul li a:visited{ color: #2E88EB; }
.arrowlistmenu ul li a:hover{ color: #2E88EB; background-color: #CBDCEF; }

.data { background-color: #fafafa; border: 1px solid #bbbbbb; padding: 2px; }
.data tr th { font-weight: bold; color: #707070; background-color: #E4E4E4; border-left: 1px solid #f7f7f7; border-bottom: 1px solid #bbbbbb; border-right: 1px solid #bbbbbb; padding: 2px 6px 2px 6px; }
.data tr td { padding: 3px; margin: 3px; border-bottom: 1px solid #b0b0b0;}
.data tr.even { background-color: #f0f0f0; }
.data tr.odd { }
.data tfoot tr td { border: none; font-style: italic; padding-top: 3px; padding-bottom: 1px; }
//.data tbody tr:hover td { background: #ffffa0; }
